$middle-first: #454544;
$light-first: #575757;
$dark-first: #35393B;
$dark-second: #7D7D7C;
$light-second: #D1880A;

$font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$buttons: (
    primary: (
        off: (
            text: $light-second,
            background: $middle-first,
            border: $middle-first
        ),
        on: (
            text: $light-second,
            background: darken($middle-first, 10%),
            border: darken($middle-first, 10%)
        )
    )
);
